{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea impedit excepturi distinctio iste eaque fuga soluta, cupiditate dignissimos laudantium beatae atque corporis accusamus porro eius, sequi mollitia minus? Cum tempora molestiae exercitationem. Nam, odio quam reiciendis voluptates quis adipisci. Facilis reiciendis illo consequatur iure odit officia et, sit aperiam, voluptatibus expedita similique vero ratione quia dolor magni blanditiis pariatur ex maiores saepe quis fugiat. Voluptate aliquid odit temporibus ipsa omnis eveniet. Nam quos ipsum fugiat, neque, quidem libero reiciendis voluptatibus nulla dolorem animi perspiciatis quaerat nisi sequi nesciunt debitis, omnis fuga tempora ab facere at consequatur dicta quae explicabo? Cupiditate!    
</p>

{% endblock %}
